body{
    text-align: center;
}

.btn{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 20px;
}

.btn-container{
    display: flex;
    justify-content: center;
}  

.red{
    background-color: #d95980;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: red;
}

.game-over{
    background-color: red;
}